* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: mediumblue;
  color: white;
}
.navbar .logo-name {
  font-size: 1.5rem;
  padding-left: 20px;
}
/* Nav-Links */
.nav-links ul {
  display: flex;
  list-style-type: none;
}
.nav-links ul li {
  padding: 20px;
  display: block;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
}
/* Hover */
.nav-links li:hover {
  background-color: gray;
}

/* Toggle Button */
.toggle-button {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30px;
  height: 20px;
  display: none;
}
.toggle-button .bars {
  border-radius: 20px;
  background-color: white;
  width: 100%;
  height: 4px;
}

/* Media Query */
@media (max-width: 620px) {
  .toggle-button {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  .navbar {
    height: 55px;
    flex-direction: column;
    align-items: flex-start;
  }
  .logo-name {
    padding-top: 15px;
  }
  .nav-links ul {
    text-align: center;
    flex-direction: column;
    background-color: mediumblue;
    width: 100%;
  }
  .nav-links.active {
    display: flex;
  }
}
